* {
  padding: 0;
  margin: 0;
  font-family: 'Saira', sans-serif;
  box-sizing: border-box;
}

.hero {
  height: 100%;
  width: 100%;
  background-image: url(Portfolio Background.jpg);
  background-size: cover;
  background-position: center;
}

span {
  color: #c09f0e;
}

.logo-container {
  position: absolute;
  top: 70px; /* Adjust the top distance */
  right: 0;
  text-align: right;
}

.logo-img {
  width: 50%; /* Adjusts the width */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px;
}
/* CSS for the sliding gallery */
.gallery {
  width: 100%;
  margin: 0 auto;
}
.slick-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.slick-dots li {
  margin: 0 5px;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  border: none;
  outline: none;
  opacity: 0.5;
  cursor: pointer;
}
.slick-dots li.slick-active button {
  background: #000;
  opacity: 1;
}

@media (max-width: 768px) {
  /* Mobile-specific styles */
  .logo-container {
    top: 30px; /* Adjusts the top distance */
    right: 10px; /* Adjusts the right distance */
    text-align: center;
  }
  .logo-img {
    width: 40%; /* Adjusts the width */
    margin-right: 0;
  }

  .col-md-4 {
    float: none;
    width: 100%;
  }

  .purple {
    color: #A020F0;
  }

  .black {
    color: #791579;
  }

  .gold {
    color: #FFD700;
  }

  .white {
    color: #ffffff;
  }
}